apiVersion: v1
kind: Service
metadata:
  name: httpd-service
  namespace: apps
spec:
  selector:
    app.kubernetes.io/name: httpd
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
