apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: s3
  labels:
    app: api
spec:
  ServiceAccount: s3-sa
  replicas: 3
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        env: 
        - name: S3_BUCKET
          value: bucket-daniel-abc-123 # maybe replace env variables with secrets?
        image: danblanco/s3-api:latest
        ports:
        - containerPort: 8000

---

apiVersion: v1
kind: Service
metadata:
  name: api-lb
  namespace: s3
  labels:
    app: api
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8000
      name: http
  selector:
    app: api
